section {
    display: grid;
    border: solid;
    padding: 3px;
    /* grid-template-columns:50px 50px 50px; */
    /* grid-template-rows:50px 50px 50px; */

    /**
        or like the below:
    */

    /* grid-template:50px 50px 50px/50px 50px 50px;  */

    /**
        or even like this:
    */

    grid-template: repeat(3, 50px)/repeat(3, 50px);

    /**
        `fr` unit.
        this unit is used to divide the available space into fractions.
        This makes it *responsive*!
        for example:
    */

    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-rows:50px; */

    /**
        `AUTO`
        this will make the column/row as wide as the content inside it.
    */

    /* grid-template-columns: 50px 50px auto; */


    /**
        using `Grid-column-gap & Grid-row-gap
        this will make a gap between the columns/rows.
    */

    /* grid-column-gap: 4px; */
    /* grid-row-gap:10px; */

    /**
        You can also write this as:
    */

    grid-gap: 10px 4px;



}

/**
    CHILDREN
*/

div:first-child {
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-row-start: 1; */
    /* grid-row-end: 4; */

    /**
        or like this:
    */

    /* grid-column: 1 / 3; */
    /* grid-row: 1 / 4; */

    /**
        Or we can shorten it further like this:
    */

    grid-area: 1 / 1 / 4 / 3;
}

div {
    border: solid;
    padding: 3px;
}